<body>
  <%- include('../partials/_navbar.ejs') %>

  <h1>Name: <%= recipe.name %></h1>
  <h2>Instructions: <%= recipe.instructions %></h2>
  <h1>Ingredients:</h1>
  <ul>
    <% recipe.ingredients.forEach((ingredient) => { %>
    <li><%= ingredient.name %></li>
    <% }); %>
  </ul>
  <% if (recipe.owner._id.equals(user._id)) { %>
  <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
    <button type="submit">Delete Recipe</button>
  </form>
  <a href="/recipes/<%= recipe._id %>/edit">Edit Recipe</a>
  <% }%>
</body>
